.edituser * {
    box-sizing: border-box;
}

.edituser {
    text-align: left;
}

.edituser .button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    line-height: normal;
    border-radius: 2px;
    outline: none;
    background: none;
    position: relative;
}