.CreateOffer {
    background-color: #d3d3d34f;
    height: 500px;
    width: 350px;
    position: relative;
    border: .5px solid lightgray;
}

.CreateOffer * {
    box-sizing: border-box;
}

.CreateOffer textarea {
    resize: none;
    height: 50px;
}

.CreateOffer input,
textarea,
brandpicker {
    width: 100%
}

.CreateOffer .heading {
    text-align: center;
    padding: 5px;
}

.createoffer-input {
    margin-bottom: 10px;
}

.createoffer-input input,
textarea,
select {
    width: 100%;
    padding: 5px;
    border-top: 1px solid lightgray;
    border-bottom: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.createoffer-input select {
    background-color: #ffffff;
}

.CreateOffer input:focus,
textarea:focus {
    border: 1px solid darkgray;
}

.CreateOffer-form {
    padding: 10px 15px;
}

.CreateOffer .buttons {
    text-align: center;
    position: absolute;
    bottom: 8px;
    left: 0;
}

.CreateOffer .buttons button {
    background-color: #1f1e1e;
    border: none;
    color: #ece1e1;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 3px;
    outline: none;
    margin: 0 36px;
}

.CreateOffer .buttons button:hover {
    cursor: pointer;
    background-color: #ece1e1;
    color: black;
}

.CreateOffer .buttons button:active {
    background-color: #857a7a;
    font-weight: bold;
    color: black;
}

.CreateOffer-form label {
    position: relative;
}

.CreateOffer .tooltip-text {
    color: red;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 277px;
    font-size: 10px;
}

.CreateOffer .hidden {
    visibility: hidden;
}