.Header * {
    box-sizing: border-box;
}

.Header {
    background-color: #1f1e1e;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    text-align: center;
    padding: 20px;
    align-content: center;
    color: #ece1e1;
    align-content: center;
}

.Header a {
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 12px;
    line-height: 25px;
    border-radius: 2px;
    color: #ece1e1;
}

.Header a:hover {
    background-color: #ece1e1;
    color: black;
}

.Header a.active {
    background-color: #857a7a;
    font-weight: bold;
    color: black;
}

.title {
    font-weight: bold;
    text-align: center;
}

.nav {
    text-align: right;
}

.header-logobox {
    text-align: left;
}

.name {
    width:150px;
    height:50px;
}

.logo {
    width:50px;
    height:50px;
}

.header-logo-text {
    width: 25px;
    opacity: .85;
}