.Login * {
    box-sizing: border-box;
}

.Login {
    width: 500px;
    margin: 50px auto auto auto;
    /* border: 1px solid black; */
    box-shadow: 0px 1px 3px #0000000d inset, 0px 0px 20px #32353899;
    border: 1px solid lightgray;
}

.login-title {
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.login-form {
    padding: 25px;
}

.login-btn-div {
    text-align: right;
    align-self: center;
}

.login-form input {
    width: 100%;
    margin-bottom: 25px;
    padding: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 1px 3px #0000000d inset, 0px 0px 5px #32353899;
    border: 1px solid lightgray;
}

.login-btn {
    background-color: #1f1e1e;
    border: none;
    color: #ece1e1;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
}

.login-footer {
    display: grid;
    grid-template-columns: auto auto;
}

.login-btn:hover {
    box-shadow: 0px 1px 3px #0000000d inset, 0px 0px 15px #32353899;
}

.login-btn:active {
    background-color: #353131cc;
}

.login-message {
    align-self: center;
    text-align: center;
    color: red;
    font-size: 12px;
}

.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}